.bg-purple {
  background-color: #74c0fc;
}

.btn-purple {
  background-color: #74c0fc;
  color: white;
  border-color: #74c0fc;
}

.btn-purple:hover {
  background-color: #74c0fc;
  color: white;
  border-color: #74c0fc;
}

.btn-light-blue {
  background-color: #4dabf7;
  color: #fff;
  border-color: #4dabf7;
}

.btn-light-blue:hover {
  background-color: #339af0;
  color: #fff;
  border-color: #339af0;
}

.table-purple {
  background-color: #74c0fc !important;
  color: #fff !important;
}