<div class="app-container">

    
    <!-- <div class="main-content-wrapper">
      <app-adminbarra class="sidebar"></app-adminbarra>
      
      <main class="content">
        <app-home></app-home> Usa router-outlet en lugar de app-home -->
      <!-- </main>
    </div> -->
    
<button 
  class="sidebar-toggle d-lg-none" 
  (click)="toggleSidebar()" 
  *ngIf="!sidebarActive">
  <mat-icon>menu</mat-icon>
</button>

<!-- Sidebar superpuesta -->
<app-admin-sidebar
  [sidebarActive]="sidebarActive"
  (closeSidebar)="closeSidebar()"
></app-admin-sidebar>

<!-- Contenido principal -->
<div class="main-content">
  <router-outlet>
</router-outlet>
</div>
  
  </div>